<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>iPortfolio Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="css/admin/assets/img/favicon.png" rel="icon">
  <link href="css/admin/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="css/admin/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/admin/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="css/admin/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="css/admin/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="css/admin/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="css/admin/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="css/admin/assets/css/style.css" rel="stylesheet">
</head>

<body class="p-3 mb-2 bg-dark text-white">

  <!-- ======= Mobile nav toggle button ======= -->
  <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <nav class="nav-menu">
          <li>
            <button><a href="/home">Home</a></button>
          </li>
          <hr>
          <li>
            <button type="button" data-toggle="collapse" data-target="#income" aria-expanded="false"
              aria-controls="income">
              income
            </button>
            <div class="collapse" id="income">
              <div>
                <a class="dropdown-item" href="/income" target="display">Add
                  Income</a>
                <a class="dropdown-item" href="/details" target="display">Income Preview</a>
                <a class="dropdown-item" href="/balance" target="display">Income Balance</a>
              </div>
            </div>
          </li>
          <hr>
          <li><button type="button" data-toggle="collapse" data-target="#outcome" aria-expanded="false"
              aria-controls="collapseExample">
              Outcome
            </button>

            <div class="collapse" id="outcome">
              <div>
                <a class="dropdown-item" href="/out" target="display">Outcome</a>
                <a class="dropdown-item" href="/farm12" target="display"> Farm 12</a>
                <a class="dropdown-item" href="/farm13" target="display"> Farm 13</a>
                <a class="dropdown-item" href="/farm14" target="display"> Farm 14</a>
                <a class="dropdown-item" href="/farm15" target="display"> Farm 15</a>
                <a class="dropdown-item" href="/farm16" target="display"> Farm 16</a>
                <a class="dropdown-item" href="/farm17" target="display"> Farm 17</a>
                <a class="dropdown-item" href="/farm18" target="display"> Farm 18</a>
                <a class="dropdown-item" href="/farm19" target="display"> Farm 19</a>
                <a class="dropdown-item" href="/farmabdallah" target="display">Abdallah Farm</a>
                <a class="dropdown-item" href="/farmfesal" target="display">Fesal Farm</a>
              </div>
            </div>
          </li>
        </nav><!-- .nav-menu -->
        <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

      </div>
  </header><!-- End Header -->

  <main id="main" class="p-3 mb-2 bg-dark">
    <iframe src="/notify" name="display" frameborder="0">
    </iframe>
  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="css/admin/assets/vendor/jquery/jquery.min.js"></script>
  <script src="css/admin/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="css/admin/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="css/admin/assets/vendor/php-email-form/validate.js"></script>
  <script src="css/admin/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="css/admin/assets/vendor/counterup/counterup.min.js"></script>
  <script src="css/admin/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="css/admin/assets/vendor/venobox/venobox.min.js"></script>
  <script src="css/admin/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="css/admin/assets/vendor/typed.js/typed.min.js"></script>
  <script src="css/admin/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="css/admin/assets/js/main.js"></script>

</body>

</html>