* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: cursive;
  overflow-y: hidden;
  font-size: 14px;
}
form {
  font-family: cursive;
  width: 45%;
  margin: 0 auto 0 auto;
}
h1 {
  text-align: center;
}
