<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/outcome/out.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
    <title>Document</title>
</head>

<body class="p-3 mb-2">
    <h1>Outcome</h1>
    <!-- this is a bootstrap form -->
    <form action="/api/incomeoutcome" method="POST">
        {{#if message}}
        <div class="alert alert-{{alert}}" role="alert">
            {{message}}
        </div>
        {{/if}}

        <div class="form-group">
            <label for="item">ITEM</label>
            <select class="form-control" id="item" name="item" required>
            </select>
        </div>
        <div class="form-group">
            <label for="amount">AMOUNT</label>
            <input type="number" min="0" step="0.01" class="form-control" id="amount" name="amount" required />
        </div>
        <div class="form-group">
            <label for="date">DATE</label>
            <input type="date" class="form-control" id="date" name="date" required />
        </div>
        <div class="form-group" title="Select multiple farms by holding the Ctrl button and clicking the farm">
            <label for="farm">FARM'S</label>
            <select multiple class="form-control" id="farm" name="farm" required>
                <option>Farm12</option>
                <option>Farm13</option>
                <option>Farm14</option>
                <option>Farm15</option>
                <option>Farm16</option>
                <option>Farm17</option>
                <option>Farm18</option>
                <option>Farm19</option>
                <option>AbdallahFarm</option>
                <option>FesalFarm</option>
            </select>
        </div>
        <div class="form-group">
            <label for="uses">Use of the item(E.g Insecticide,fungicide)</label>
            <textarea class="form-control" id="uses" rows="3" name="uses" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit {{update}}</button>

    </form>

    <script src="js/outcome.js">

    </script>
</body>

</html>