* {
  box-sizing: border-box;
}
body {
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
form {
  width: 45%;
  font-family: cursive;
  padding-bottom: 50px;
}
